.block {
  height: 16px;
  width: 16px;
  transform: translate3d(0, 0, 0);
  // for fix shrink when displayed in flex and width is not enough
  flex-shrink: 0;

  &:hover {
    animation: breath 1s infinite ease-out;
  }
}

.loading {
  margin-top: 55px;
  text-transform: uppercase;
  flex-wrap: wrap;
  @include flex-center();

  span {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .block {
    background-color: $blue-dark3;
    height: .5rem;
    width: .5rem;

    &:nth-child(2) {
      animation: loading 1s infinite ease;
    }

    &:nth-child(3) {
      animation: loading 1s .25s infinite ease;
    }

    &:nth-child(4) {
      animation: loading 1s .5s infinite ease;
    }

    &:not(:last-child) {
      margin-right: .8rem;
    }
  }
}
