.app {

  display: flex;
  justify-content: center;

  .main {
    width: 100%;
    max-width: 1200px;
    margin: 0 15px;
  }

}

@font-face {
  font-family: 'font-awesome';
  src: url(../resources/fa-regular-400.ttf)
}
