.app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 360px;
}

// font defined below were not used now
@font-face {
  font-family: 'font-awesome';
  src: url(../resources/fa-regular-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'font-awesome-solid';
  src: url(../resources/fa-solid-900.woff2);
  font-display: swap;
}

@import 'components.scss';
// @import 'colors.scss';
@import 'animation.scss';
@import 'main.scss';
