// colors
.blue-light3 {
  color: #06799F;
}

.blue-dark2 {
  color: #216278;
}

.blue-dark3 {
  color: #024E68;
}

.blue-light2 {
  color: #3AAACF;
}

.blue-light1 {
  color: #61B4CF;
}

.blue-dark1 {
  color: #06799F;
}

.yellow-light3 {
  color: #FFB400;
}

.yellow-dark1 {
  color: #BF9530;
}

.yellow-dark2 {
  color: #A67500;
}

.yellow-light2 {
  color: #FFC740;
}

.yellow-light1 {
  color: #FFD673;
}

.red-light3 {
  color: #FF2800;
}

.red-dark1 {
  color: #BF4630;
}

.red-dark2 {
  color: #A61A00;
}

.red-light2 {
  color: #FF5D40;
}

.red-light1 {
  color: #FF8973;
}

// background colors
.bg-blue-light3 {
  background-color: #06799F;
}

.bg-blue-dark2 {
  background-color: #216278;
}

.bg-blue-dark3 {
  background-color: #024E68;
}

.bg-blue-light2 {
  background-color: #3AAACF;
}

.bg-blue-light1 {
  background-color: #61B4CF;
}

.bg-blue-dark1 {
  background-color: #06799F;
}

.bg-yellow-light3 {
  background-color: #FFB400;
}

.bg-yellow-dark1 {
  background-color: #BF9530;
}

.bg-yellow-dark2 {
  background-color: #A67500;
}

.bg-yellow-light2 {
  background-color: #FFC740;
}

.bg-yellow-light1 {
  background-color: #FFD673;
}

.bg-red-light3 {
  background-color: #FF2800;
}

.bg-red-dark1 {
  background-color: #BF4630;
}

.bg-red-dark2 {
  background-color: #A61A00;
}

.bg-red-light2 {
  background-color: #FF5D40;
}

.bg-red-light1 {
  background-color: #FF8973;
}
