.block {
  height: 16px;
  width: 16px;
  transform: translate3d(0, 0, 0);
  // for fix shrink when displayed in flex and width is not enough
  flex-shrink: 0;

  &:hover {
    animation: breath 1s infinite ease-out;
  }
}
