
.title {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  line-height: 6rem;

  @media screen and (max-width: 365px) {
    font-size: 2rem;
    line-height: 4rem;
  }

}

.square {
  display: flex;
  position: relative;
  .symbol {
    font-family: 'font-awesome';
    padding-right: .5rem;
    position: relative;
    top: .2rem;
  }
}

