// title bar
.title {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  line-height: 5rem;
  @media screen and (max-width: 365px) {
    font-size: 2rem;
    line-height: 4rem;
  }
}

// square box for text display
.square {
  display: flex;
  position: relative;
  color: #9a9a9a;
  .symbol {
    // font-family: 'font-awesome', 'font-awesome-solid', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: .5rem;
    position: relative;
  }
  .values {
    display: flex;
    div {
      &:not(:last-child)::after {
        content: '·';
        padding: 0 .2rem;
      }
    }
  }
}
