@mixin initial {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url(../resources/杨任东竹石体-Extralight.ttf);
  font-family: zh;
  font-display: swap;
}


// html body
body {
  box-sizing: border-box;
  // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', STKaiti, KaiTi, sans-serif;
  font-family: zh;
  // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', zh, sans-serif;
  font-weight: 400;
  font-size: 16px;

  @include initial();
}

a {
  color: inherit;
  text-decoration: none;

  @include initial();
}

html,
body,
#root {
  height: 100%;
}

button,
input {
  outline: none;
  background-color: transparent;

  @include initial();
}

ul,
ol {
  list-style: none;

  @include initial();
}

@import 'App.scss';
