// top container
.lists {
  width: 496px;
  transition: left .75s cubic-bezier(0, 0, 0, 1);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  .title {
    text-align: center;
  }
  .list-contents {
    transition: width .75s cubic-bezier(0, 0, 0, 1);
    width: 466px;
    padding: 0 15px;
    .item {
      text-transform: uppercase;
      padding: 1rem 0;
      .square {
        font-size: .8rem;
        white-space: nowrap;
      }
      .item-title {
        font-size: 1rem;
        transition: color .3s ease;
        &:hover {
          color: #DC143C;
        }
      }
    }
  }
}
