// top container
.lists {
  // title
  .title {
    text-align: center;
  } // lists container
  .list-contents {
    // item container
    .item {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      padding: 1rem 0;
      .square {
        font-size: .8rem;
        white-space: nowrap;
        &::after {
          content: '·';
          padding: 0 1rem;
          color: #333;
        }
      }
      .item-title {
        font-size: 1rem;
      }
    }
  }
}
