@import 'colors.scss';

$nav-both-sides-button-width: 120px;
$arrow-width: 60px;

@mixin set-flex-grow($grow: 0) {
  flex-shrink: 0;
  flex-grow: $grow;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

.fix-right {
  margin-right: 15px;
}

.nav {
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  height: 45px;
  z-index: 199;
  @include set-flex-grow();

  .index {
    flex-basis: $nav-both-sides-button-width;

    .block {
      margin-left: 1rem;
      background-color: $blue-dark3;
    }
  }

  .blocks {
    flex-basis: $nav-both-sides-button-width;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 45px;
    background-color: white;

    .block {
      color: white;
      font-weight: bold;
      background-color: $blue-dark3;
      @include flex-center();
      align-items: center;
    }

    &:hover {
      .menu {

        .item {
          line-height: 1.5rem;
          margin: .5rem 1rem;
        }
      }
    }


    .menu {
      position: fixed;
      top: 45px;
      left: 0;
      width: 100vw;
      background-color: $blue-dark3;
      color: white;
      align-items: flex-end;
      overflow: hidden;
      @include flex-column();

      .item {
        line-height: 0rem;
        transition: all .3s .5s ease;
        margin: 0rem 1rem;
        text-align: center;
      }

      .language {

        .language-list {
          font-size: .8rem;
          font-weight: normal;
          @include flex-center();

          .l {
            cursor: pointer;

            &:hover {
              color: $blue-light1;
            }

            &:not(:last-child)::after {
              content: '|';
              margin: 0 .5rem;
              color: white;
            }
          }
        }
      }
    }
  }

  .home {
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
    color: #333;
    text-align: center;
    position: relative;
    overflow: hidden;

    .logo-link {
      transition: all .2s linear;
      width: 18pt;
      height: 12px;
      display: inline-block;
      white-space: nowrap;
      background-image: url(../resources/logo.point.svg);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center;
      position: relative;
    }

    &.w {

      .logo-link {
        background-image: url(../resources/logo.svg);
        width: 120pt;
      }
    }
  }
}

.banner {
  background-color: white;
  overflow: hidden;

  .main-banner {
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    animation: motion 60s infinite ease;
    @include set-flex-grow(1);
    @include flex-column();

    .logo {
      font-size: 3rem;
      font-weight: bold;
      margin-top: 8rem;
      margin-bottom: 1.5rem;

      @media (max-width: 500px) {
        font-size: 2rem;
        margin-top: 6rem;
        margin-bottom: 1rem;
      }
    }

    .motto {
      line-height: 2.5rem;
      text-transform: uppercase;
      font-size: 2rem;
      color: #999;
      margin-bottom: 4rem;

      @media (max-width: 500px) {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 2rem;
      }
    }

    .social {
      margin-bottom: 6rem;
      @include flex-center();

      @media (max-width: 500px) {
        margin-bottom: 3rem;
      }

      .icon {
        height: 25px;
        width: 25px;
        border-radius: 13px;

        &:hover {
          animation: breath 1s infinite ease-out;
        }

        &:not(:last-child) {
          margin-right: 50px;
        }

        &.github {
          background-image: url(../resources/github.png);
          background-size: cover;
          height: 23px;
          width: 23px;
        }

        &.weibo {
          background-image: url(../resources/weibo.png);
          background-size: cover;
        }
      }
    }

    .categories {
      width: 500px;
      margin: 0 auto;
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        width: 70vw;
      }

      @media (max-width: 500px) {
        margin-bottom: 1rem;
      }

      .item {
        align-items: center;
        @include flex-column();

        .block {
          height: 50px;
          width: 50px;
          margin-bottom: 3rem;

          @media (max-width: 500px) {
            margin-bottom: 2rem;
            height: 40px;
            width: 40px;
          }
        }

        .category {
          color: #999;
          text-transform: uppercase;
        }
      }
    }

    .dont-touch-me {
      margin: 0 auto;
      position: relative;
      transition: all .1s linear;

      .arrow {
        height: $arrow-width;
        width: $arrow-width;
        margin: 0 auto;
        border-left: 2px solid #999;
        border-bottom: 2px solid #999;
        transform: rotate(-45deg);
        margin-bottom: 100px;
        animation: breath-arrow 5s infinite ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include set-flex-grow();

        @media (max-width: 500px) {
          margin-bottom: 50px;
        }

        .inner-shadow {
          height: $arrow-width - 30;
          width: $arrow-width - 30;
          border-left: 2px solid #999;
          border-bottom: 2px solid #999;
          animation: breath-arrow-inner 5s infinite ease-out;
        }
      }
    }
  }
}

$lists-max-width: 700px;

.lists {
  padding: 45px 0;
  max-width: $lists-max-width;
  width: 100%;
  background-color: white;
  align-self: center;
  @include flex-column();

  .control-bar {
    color: #333;
    height: 30px;

    .real-bar {
      width: 100%;
      max-width: $lists-max-width;
      min-height: 35px;
      align-items: flex-start;
      background-color: white;
      flex-wrap: wrap;
      @include flex-center();

      &.hold {
        position: fixed;
        top: 45px;
        z-index: 99;
      }

      .tabs {
        line-height: 1.5rem;
        @include flex-center();

        .tab {
          border: none;
          line-height: 1.5rem;
          font-size: 1rem;
          position: relative;
          width: auto;
          margin-right: .5rem;
          background-color: transparent;
          transition: all .3s ease;
          cursor: pointer;
          padding: 0 .5rem;

          &::after {
            transition: border .3s ease;
            border: none;
          }

          &:hover {
            color: $blue-dark3;
          }

          &.active {
            color: white;
            background-color: $blue-dark3;
          }

        }
      }

      .search-area {
        line-height: 1.5rem;
        width: 7rem;
        white-space: nowrap;

        .magnifier {

          .query-mark {
            vertical-align: middle;
            background-image: url(../resources/query-mark.svg);
            background-repeat: no-repeat;
            background-position: center;
            height: 1.5rem;
            width: 1.5rem;
            display: inline-block;
          }

          .search {
            border: none;
            padding: .25rem .5rem;
            font-size: .8rem;
            width: 4rem;
            transition: all .3s ease;
            caret-color: $blue-light1;
            background-color: white;
            border-bottom: transparent 1px solid;

            &.focus {
              width: 10rem;
              border-bottom: $blue-dark3 1px solid;
            }
          }
        }
      }

      .categories-menu {
        width: 100%;
        line-height: 1rem;
        padding-bottom: .5rem;
        background-color: white;
        transition: all .3s ease;
        margin-right: 7rem;
        margin-top: 1rem;
        justify-content: center;
        display: none;
        opacity: 0;

        &.active {
          display: flex;
          opacity: 1;
        }

        .cat {
          border: none;
          font-size: .8rem;
          text-transform: uppercase;
          transition: all .3s ease;
          padding: .1rem .3rem;
          cursor: pointer;

          &:not(:last-child) {
            margin-right: .5rem;
          }

          &:hover {
            color: $blue-dark3;
          }

          &.active {
            background-color: $blue-dark3;
            color: white;
          }

        }
      }
    }
  }

  .loading {
    margin-top: 25px;
    text-transform: uppercase;
    flex-wrap: wrap;
    @include flex-center();

    span {
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
    }

    .block {
      background-color: $blue-dark3;
      height: .5rem;
      width: .5rem;

      &:nth-child(2) {
        animation: loading 1s infinite ease;
      }

      &:nth-child(3) {
        animation: loading 1s .25s infinite ease;
      }

      &:nth-child(4) {
        animation: loading 1s .5s infinite ease;
      }

      &:not(:last-child) {
        margin-right: .8rem;
      }
    }
  }

  .list-contents {
    margin-top: 45px;

    .item {
      display: flex;
      align-items: center;
      margin: 1.5rem .5rem;
      min-height: 3rem;

      &.tech {

        .block {
          background-color: $tech;
        }
      }

      &.memo {

        .block {
          background-color: $memo;
        }
      }

      &.photo {

        .block {
          background-color: $photo;
        }
      }

      &.talk {

        .block {
          background-color: $talk;
        }
      }

      .block {
        align-self: stretch;
        height: auto;
        width: 5px;
        margin: 1rem .5rem;
      }

      .timestamp {
        color: #666;
        font-size: .8rem;
        margin: .5rem .5rem;
        text-align: center;
      }

      .item-title {
        margin: .5rem .5rem;
        font-size: 1.5rem;
        color: #444;

        &:hover {
          color: $blue-dark3;
        }
      }
    }
  }

  .more {
    width: 100%;
    text-align: center;
    font-size: .8rem;
    margin: 1.5rem auto;
    border: none;
    cursor: pointer;
    color: $blue-dark3;
    transition: color .3s ease;

    &:hover {
      color: $blue-light1;
    }
  }
}


.footer {
  color: white;
  background-color: $blue-dark3;
  text-transform: uppercase;
  font-size: .8rem;
  line-height: 1.2rem;
  padding: 1rem 0;
  @include flex-column();
  align-items: center;

  .ele {
    text-align: center;

    &:not(:first-child) {
      margin-top: 1rem;
    }

    &.contact {

      .way {
        margin: 0 .25rem;
      }
    }
  }

  .link {
    color: white;
    transition: color .3s ease;

    &:hover {
      color: $blue-light1;
    }
  }
}

.contents {
  margin-top: 45px;
  flex-grow: 1;
}
