$hover-color: #3E95E0;
$light-color: #2A689E;
$background-color: #4BB3FD;
$transition-ease-out: all .5s cubic-bezier(0, 1, 0, 1);
$min-width: 1298px;

// top container
.lists-container {
  height: 100%;
  position: relative;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  transition: $transition-ease-out;
  flex-shrink: 0;

  @media (max-width: 1298px) {
    overflow-y: auto;
  }

  .lists-wrapper {
    position: relative;
    transition: $transition-ease-out;
    margin: 3rem 0;
    background-color: white;
    overflow: hidden;

    @media (max-height: 600px) and (min-width: $min-width) {
      margin: 1rem 0;
    }

    @media (max-height: 400px) and (min-width: $min-width) {
      margin: .5rem 0;
    }

    @media (max-width: 650px) {
      margin: 3rem 1rem;
    }

    &.matched {
      box-shadow: #2A689E 0 0 55px;
    }

    .lists {
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      padding-right: 3rem;
      right: -1.5rem;
      box-shadow: none;
      overflow-y: scroll;

      @media (max-width: $min-width) {
        overflow-y: auto;
      }

      .header {
        line-height: 3rem;
      }

      .list-contents {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 1;

        .item {
          text-transform: uppercase;
          padding: 1rem 0;

          .date {
            font-size: .8rem;
            white-space: nowrap;
            color: $light-color;
          }

          .tags {
            font-size: .8rem;

            a:hover {
              color: $hover-color;
            }
          }

          .item-title {
            font-size: 1rem;
            transition: color .3s ease;

            a:hover {
              color: $hover-color;
            }
          }
        }
      }
    }
  }
}

.contents {
  transition: all .5s cubic-bezier(0, 1, 0, 1);
  position: relative;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 0;

  .title {
    color: $background-color;
  }
}
