// top container
.lists {
  transition: all .5s cubic-bezier(0, 1, 0, 1);
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    text-align: center;
  }
  .list-contents {
    padding: 0 15px;
    .item {
      text-transform: uppercase;
      padding: 1rem 0;
      .square {
        font-size: .8rem;
        white-space: nowrap;
      }
      .item-title {
        font-size: 1rem;
        transition: color .3s ease;
        &:hover {
          color: #DC143C;
        }
      }
    }
  }
}

.contents {
  transition: all .5s cubic-bezier(0, 1, 0, 1);
  position: fixed;
  height: 100%;
  flex-grow: 1;
}
