.item {

  .item-title {
    font-size: 2rem;
  }

  .badges {
    display: flex;
    color: gray;
    padding-right: 1rem;
    .time, .square {
      padding-right: 1rem;
    }
  }

  padding: 1rem 0;

}

