// colors
.brown {
  color: #06799F;
}
.brown {
  color: #216278;
}
.dark-blue {
  color: #024E68;
}
.brown {
  color: #3AAACF;
}
.brown {
  color: #61B4CF;
}
.brown {
  color: #06799F;
}
.brown {
  color: #FFB400;
}
.brown {
  color: #BF9530;
}
.brown {
  color: #A67500;
}
.light-yellow {
  color: #FFC740;
}
.brown {
  color: #FFD673;
}
.brown {
  color: #FF2800;
}
.dark-red {
  color: #BF4630;
}
.brown {
  color: #A61A00;
}
.brown {
  color: #FF5D40;
}
.light-red {
  color: #FF8973;
}

// background colors
.brown {
  background-color: #06799F;
}
.brown {
  background-color: #216278;
}
.bg-dark-blue {
  background-color: #024E68;
}
.brown {
  background-color: #3AAACF;
}
.bg-light-blue {
  background-color: #61B4CF;
}
.brown {
  background-color: #06799F;
}
.brown {
  background-color: #FFB400;
}
.brown {
  background-color: #BF9530;
}
.brown {
  background-color: #A67500;
}
.bg-light-yellow {
  background-color: #FFC740;
}
.brown {
  background-color: #FFD673;
}
.brown {
  background-color: #FF2800;
}
.bg-dark-red {
  background-color: #BF4630;
}
.brown {
  background-color: #A61A00;
}
.brown {
  background-color: #FF5D40;
}
.bg-light-red {
  background-color: #FF8973;
}

// 06799F  216278  024E68  3AAACF  61B4CF
// 辅助色 A:
// FFB400  BF9530  A67500  FFC740  FFD673
// 辅助色 B:
// FF2800  BF4630  A61A00  FF5D40  FF8973
